<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReadOpenAipData.Properties.Settings.airnav_airportsConnectionString"
            connectionString="data source=&quot;C:\Users\Rob Verhoef\Documents\NavAirDataFiles\openaip\airnav-airports.db&quot;"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>